<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="icon" href="https://i.imgur.com/Rtr2t6U.png">
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/Contact">Contact</a></li>
	        		<li><a href="/PGP">PGP</a></li>


	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	                <li><a href="https://bryznasty.github.io/about/">About</a></li>

				</ul>
			</footer>
		</body>
	</html>
